{% extends  "base.html" %}
{% block content %}
   <!-- BEGIN MENU -->
 <header class="header dark-bg">
      <!-- BEGIN MENU -->
      <div class="menu_area">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- LOGO -->
              <!-- TEXT BASED LOGO -->
              <a class="navbar-brand" href="index.html"><i class="fa fa-heartbeat"></i> <span>MIDHILL HOSPITAL</span></a>
              <!-- IMG BASED LOGO  -->
              <!--  <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>   -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
				  <table class="centered" style="width:100%">
		<td id="home"><form action="/healthnetapp/user"><button class="btn btn-primary" type="submit" value="User Homepage"> User Homepage</button>
		</form></td>
	</table>

				  </ul>
</div>
		  </div>
		</nav>
	  </div>
    </header>
    <!--=========== END HEADER SECTION ================-->
<body>
	<div id="main">
	<div class="centered">
		<table style="width:100%">
			<td style=color:blue;font-size:48px;border=1 px solid black;>HealthNet</td>
			<td id="home"><form action="/healthnetapp/user">
				<button type="submit" value="User Homepage">User Homepage</button>
			</form></td>
		</table>
		<h1 style="text-align:center;color:blue;">Update User Info</h1>

		<strong>Update info here!</strong><br />

		<form id="profile_form" method="post" action="/healthnetapp/update/"
				enctype="multipart/form-data">

			{% csrf_token %}

			<!-- Display each form. The as_p method wraps each element in a paragraph
				 (<p>) element. This ensures each element appears on a new line,
				 making everything look neater. -->
			{{ profile_form.as_p }}

			<!-- Provide a button to click to submit the form. -->
			<button type="submit" name="submit" value="Submit">Submit</button>
		</form>
		<br/>
		<form action="/healthnetapp/user">
			<button type="submit" value="Cancel">Cancel</button>
		</form>
		</div>
		</div>
	</body>
{% endblock %}