<{% extends  "base.html" %}
{% block content %}
    <header id="header">
      <!-- BEGIN MENU -->
      <div class="menu_area">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- LOGO -->
              <!-- TEXT BASED LOGO -->
              <a class="navbar-brand" href="index.html"><i class="fa fa-heartbeat"></i> <span>&nbsp; MIDHILL HOSPITAL</span></a>
              <!-- IMG BASED LOGO  -->
              <!--  <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>   -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                <li class="active"><a href="/">&nbsp;Home</a></li>
                <li><a href='{% url "features"  %}'>&nbsp;Features</a></li>
                <li><a href="healthnetapp/about-us/">&nbsp;About Us</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Service <span class="fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href='{% url "medicalcounseling"  %}'>&nbsp;Medical Counseling</a></li>
                    <li><a href="healthnetapp/medical-research/">&nbsp;Medical Research</a></li>
                    <li><a href="healthnetapp/blood-bank/">&nbsp;Blood Bank</a></li>
                  </ul>
                </li>
                <li><a href="healthnetapp/gallery/">&nbsp;Gallery</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;News <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="healthnetapp/blog-archive/">&nbsp;Blog Archive</a></li>
                    <li><a href="healthnetapp/blog-archive-with-left-sidebar/">&nbsp;Blog Archive with Left Sidebar</a></li>
                    <li><a href="healthnetapp/healthnetapp/blog-archive-with-right-sidebar/">&nbsp;Blog Archive with Right Sidebar</a></li>
                    <li><a href="healthnetapp/blog-single/">&nbsp;Blog Single</a></li>
                    <li><a href="healthnetapp/blog-single-with-left-sidebar/">&nbsp;Blog Single with Left Sidebar</a></li>
                    <li><a href="healthnetapp/blog-single-with-right-sidebar/">&nbsp;Blog Single with Right Sidebar</a></li>
                  </ul>
                </li>
                <li><a href="healthnetapp/contact.html">&nbsp;Contact</a></li>
                <li>
                  <div class="btn-group">
                                            {% if user.is_authenticated %}
                  <form action="/healthnetapp/logout/"><button type="submit" value="Logout" class="btn btn-success"><i class="icon-signin icon-large"></i>&nbsp;Logout</button></form>
                                            {% else %}
                  <button class="btn btn-success"><i class="icon-signin icon-large"></i>&nbsp;login</button><button class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="/healthnetapp/login/patient/" role="button"  data-toggle="modal"><i class="icon-user icon-large"></i>&nbsp;Patient</a></li>
                                            <li><a href="/healthnetapp/login/staff/" role="button"  data-toggle="modal"><i class="icon-user-md icon-large"></i>&nbsp; Staff</a></li>
											<li><a href="/healthnetapp/register/" role="button"  data-toggle="modal"><i class="icon-user-md icon-large"></i>&nbsp;Register</a></li>

                                        </ul>

                                             {% endif %}


                  </div>
                </li>
               </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
      </div>
      <!-- END MENU -->
    </header>
	<body>
    <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in</h1>
            <div class="account-wall">
	<div id="main">
	<div class="centered">
		<table style="width:100%">
			<td style=color:blue;font-size:48px;border=1 px solid black;>HealthNet</td>

		</table>
		<h1 style="text-align:center;color:blue;">Update Patient Info</h1>
		
		<strong>Update info here!</strong><br />
		
		<form id="profile_form" method="post" action="/healthnetapp/update_patient/{{ username }}"
				enctype="multipart/form-data">

			{% csrf_token %}
			{{ profile_form.as_p }}
			{{ medical_form.as_p}}

			<button type="submit" name="submit" value="Submit">Submit</button>
		</form>
		<br/>
		<form action="/healthnetapp/user">
			<button type="submit" value="Cancel">Cancel </button>
		</form>
		</div>
		</div>
            </div>
        </div>
    </div>
    </div>
	</body>
{% endblock %}